@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  * {
    @apply border-gray-200;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
